logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
# Next.js build output
backend/.next/
backend/node_modules/

# Node modules & build artifacts
node_modules/
dist/
build/

# Android build tools / local configurations
android/.gradle/
android/app/build/
android/build-tools/
.vercel
